.card-body {
  p {
    cursor: pointer;

    &:hover {
      color: red;
    }
  }
}

.home-position {
  position: relative;
  top: 50px;
  padding-bottom: 10px;
}

.card-homepage {
  border-radius: 20px;
  background: linear-gradient(#0071fc 0%, #fff 45%);
  border: 1px solid #d0dbec;

  .card-header {
    background: transparent;
    min-height: 61px;
    border-bottom: transparent;

    img {
      height: 30px;
    }

    h3 {
      font-size: 20px;
      font-weight: 600;
      color: #121212;
      padding-left: 10px;
      padding-top: 5px;

    }

  }

  .card-body {
    h5 {
      font-size: 14px;
      font-weight: normal;
      margin: 0;
      padding: 0;
    }

    h2 {
      font-size: 1.4rem;
      font-weight: 600;
      color: #121212;
      padding: 5px 0;
      margin: 0;
    }

    h6 {
      font-size: 12px;
      font-weight: normal;

    }

    .img-fluid {
      height: 200px;
      width: 200px;
      border-radius: 2rem;
    }

    .chart-hight {
      height: 180px;
    }
  }

  &:hover {
    background: linear-gradient(#002d64 0%, #fff 100%);
    box-shadow: 0px 3px 20px rgba(20, 122, 214, 0.24);
  }
}
